<div>
    <h2 id="page-heading">
        <span jhiTranslate="storeApp.custActCustAct.home.title">Cust Acts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cust-act" [routerLink]="['/cust-act/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="storeApp.custActCustAct.home.createLabel">
            Create a new Cust Act
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'storeApp.custActCustAct.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="custActs?.length === 0">
        <span jhiTranslate="storeApp.custActCustAct.home.notFound">No custActs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="custActs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.date">Date</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.details">Details</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.sentDate">Sent Date</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.searchCount">Search Count</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.viewCount">View Count</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.filterCount">Filter Count</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.carId">Car Id</span></th>
                    <th scope="col" ><span jhiTranslate="storeApp.custActCustAct.ipAdd">Ip Add</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let custAct of custActs ;trackBy: trackId">
                    <td><a [routerLink]="['/cust-act', custAct.id, 'view']">{{ custAct.id }}</a></td>
                    <td>{{ custAct.date | date:'medium' }}</td>
                    <td>{{ custAct.details }}</td>
                    <td>{{ custAct.sentDate | date:'medium' }}</td>
                    <td>{{ custAct.searchCount }}</td>
                    <td>{{ custAct.viewCount }}</td>
                    <td>{{ custAct.filterCount }}</td>
                    <td>{{ custAct.carId }}</td>
                    <td>{{ custAct.ipAdd }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cust-act', custAct.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cust-act', custAct.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(custAct)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
