<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="custAct">
            <h2><span jhiTranslate="storeApp.custActCustAct.detail.title">Cust Act</span> {{ custAct.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.custActCustAct.date">Date</span></dt>
                <dd>
                    <span>{{ custAct.date }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.custActCustAct.details">Details</span></dt>
                <dd>
                    <span>{{ custAct.details }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.custActCustAct.sentDate">Sent Date</span></dt>
                <dd>
                    <span>{{ custAct.sentDate }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.custActCustAct.searchCount">Search Count</span></dt>
                <dd>
                    <span>{{ custAct.searchCount }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.custActCustAct.viewCount">View Count</span></dt>
                <dd>
                    <span>{{ custAct.viewCount }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.custActCustAct.filterCount">Filter Count</span></dt>
                <dd>
                    <span>{{ custAct.filterCount }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.custActCustAct.carId">Car Id</span></dt>
                <dd>
                    <span>{{ custAct.carId }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.custActCustAct.ipAdd">Ip Add</span></dt>
                <dd>
                    <span>{{ custAct.ipAdd }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cust-act', custAct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
