<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cust-act-heading" jhiTranslate="storeApp.custActCustAct.home.createOrEditLabel">Create or edit a Cust Act</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.sentDate" for="field_sentDate">Sent Date</label>
                    <div class="d-flex">
                        <input id="field_sentDate" type="datetime-local" class="form-control" name="sentDate" formControlName="sentDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('sentDate')!.invalid && (editForm.get('sentDate')!.dirty || editForm.get('sentDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sentDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('sentDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.searchCount" for="field_searchCount">Search Count</label>
                    <input type="number" class="form-control" name="searchCount" id="field_searchCount"
                           formControlName="searchCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.viewCount" for="field_viewCount">View Count</label>
                    <input type="number" class="form-control" name="viewCount" id="field_viewCount"
                           formControlName="viewCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.filterCount" for="field_filterCount">Filter Count</label>
                    <input type="number" class="form-control" name="filterCount" id="field_filterCount"
                           formControlName="filterCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.carId" for="field_carId">Car Id</label>
                    <input type="number" class="form-control" name="carId" id="field_carId"
                           formControlName="carId"/>
                    <div *ngIf="editForm.get('carId')!.invalid && (editForm.get('carId')!.dirty || editForm.get('carId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('carId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('carId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.custActCustAct.ipAdd" for="field_ipAdd">Ip Add</label>
                    <input type="text" class="form-control" name="ipAdd" id="field_ipAdd"
                           formControlName="ipAdd"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
