<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="car">
            <h2><span jhiTranslate="storeApp.carCar.detail.title">Car</span> {{ car.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.carCar.name">Name</span></dt>
                <dd>
                    <span>{{ car.name }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.carCar.description">Description</span></dt>
                <dd>
                    <span>{{ car.description }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.carCar.price">Price</span></dt>
                <dd>
                    <span>{{ car.price }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.carCar.branch">Branch</span></dt>
                <dd>
                    <span>{{ car.branch }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.carCar.color">Color</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.Color.' + car.color }}">{{ car.color }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.carCar.image">Image</span></dt>
                <dd>
                    <div *ngIf="car.image">
                        <a (click)="openFile(car?.imageContentType!, car?.image)">
                            <img [src]="'data:' + car.imageContentType + ';base64,' + car.image" style="max-width: 100%;" alt="car image"/>
                        </a>
                        {{ car.imageContentType }}, {{ byteSize(car.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="storeApp.carCar.carCategory">Car Category</span></dt>
                <dd>
                    <div *ngIf="car.carCategoryId">
                        <a [routerLink]="['/car-category', car.carCategoryId, 'view']">{{ car.carCategoryName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car', car.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
