<div>
    <h2 id="page-heading">
        <span jhiTranslate="storeApp.carCar.home.title">Cars</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-car" [routerLink]="['/car/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="storeApp.carCar.home.createLabel">
            Create a new Car
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'storeApp.carCar.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="cars?.length === 0">
        <span jhiTranslate="storeApp.carCar.home.notFound">No cars found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cars?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="storeApp.carCar.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="storeApp.carCar.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="storeApp.carCar.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branch"><span jhiTranslate="storeApp.carCar.branch">Branch</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="color"><span jhiTranslate="storeApp.carCar.color">Color</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="storeApp.carCar.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="carCategoryName"><span jhiTranslate="storeApp.carCar.carCategory">Car Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars ;trackBy: trackId">
                    <td><a [routerLink]="['/car', car.id, 'view']">{{ car.id }}</a></td>
                    <td>{{ car.name }}</td>
                    <td>{{ car.description }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.branch }}</td>
                    <td jhiTranslate="{{ 'storeApp.Color.' + car.color }}">{{ car.color }}</td>
                    <td>
                        <a *ngIf="car.image" (click)="openFile(car.imageContentType, car.image)">
                            <img [src]="'data:' + car.imageContentType + ';base64,' + car.image" style="max-height: 30px;" alt="car image"/>
                        </a>
                        <span *ngIf="car.image">{{ car.imageContentType }}, {{ byteSize(car.image) }}</span>
                    </td>
                    <td>
                        <div *ngIf="car.carCategoryId">
                            <a [routerLink]="['/car-category', car.carCategoryId , 'view']" >{{ car.carCategoryName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/car', car.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/car', car.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(car)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cars?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
