<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="carCategory">
            <h2><span jhiTranslate="storeApp.carCarCategory.detail.title">Car Category</span> {{ carCategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.carCarCategory.name">Name</span></dt>
                <dd>
                    <span>{{ carCategory.name }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.carCarCategory.description">Description</span></dt>
                <dd>
                    <span>{{ carCategory.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car-category', carCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
